<div class="row text-left">
  <div class="col-12">
    <div class="content-header">User</div>
  </div>
</div>

<!--Advanced filter Starts-->
<section id="advanced">
  <div class="row text-left" matchHeight="card">
    <div class="col-sm-12">
      <div class="card fixedHeight">
        <div class="card-header flex-wrapper">
          <h4 class="card-title">Users Listing</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div *ngIf="data.length === 0" class="emty-container">
              <p> No Data Found</p>
            </div>
            <div *ngIf="data.length != 0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody class="{{table_loader_class}}">
                  <tr *ngFor="let key of data;let i = index">
                    <th scope="row">{{ i - 9 + page*10 }}</th>
                    <td>{{ key.name }}</td>
                    <td>{{ key.username }}</td>
                    <td>{{ key.email }}</td>
                    <td>{{ key.mobile }}</td>
                    <td>{{ key.address }}</td>
                  </tr>
                  <tr *ngIf="noRecordErr">
                    <td colspan="7">
                      <div class="emty-container">
                        <p> No Data Found</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Advanced filter Ends-->
