<div class="row" *ngIf="(product$ | async)">
  <div class="col-12 col-md-8">
    <div class="card">
      <div class="card-header no-padding-bottom">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">{{ (product$ | async).name }}</h4>
          </div>
          <div class="col-4">
            <a class="success p-0 pull-right" [routerLink]="['./../..', 'edit', productId]"
              routerLinkActive="router-link-active"><i class="ft-edit-2 font-medium-3 mr-2"></i></a>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="mb-3">
            <span class="text-bold-500 primary">
              Product Description
            </span>
            <span class="d-block" [innerHTML]="(product$ | async).description">
            </span>
          </div>
          <div class="row">
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                MRP
              </span>
              <span class="d-block">
                {{ (product$ | async).cost_price }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Selling Price
              </span>
              <span class="d-block">
                {{ (product$ | async).price }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Published
              </span>
              <span class="d-block">
                <!-- {{ (product$ | async).is_published }} -->
                <p-inputSwitch [(ngModel)]="isPublished" (onChange)="togglePublishStatus($event)" [disabled]="noImages"
                  (click)="setImagesError()">
                </p-inputSwitch>
                <br>
                <small class="text-danger" translate *ngIf="imagesError">
                  Add atleast one image to publish the product!
                </small>
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Weight
              </span>
              <span class="d-block" *ngIf='!(product$ | async).weight'>--</span>
              <span class="d-block">
                {{ (product$ | async).weight }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Volume
              </span>
              <span class="d-block"
                *ngIf='!(product$ | async).length || !(product$ | async).breadth || !(product$ | async).height'>--</span>
              <span class="d-block"
                *ngIf='(product$ | async).length && (product$ | async).breadth && (product$ | async).height'>
                {{ (product$ | async).length }} X {{ (product$ | async).breadth }} X {{ (product$ | async).height }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                HSN
              </span>
              <span class="d-block" *ngIf='!(product$ | async).hsn'>--</span>
              <span class="d-block">
                {{ (product$ | async).hsn }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                GST
              </span>
              <span class="d-block" *ngIf='!(product$ | async).gst'>--</span>
              <span class="d-block">
                {{ (product$ | async).gst }} %
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Barcode
              </span>
              <span class="d-block" *ngIf='!(product$ | async).barcode'>--</span>
              <span class="d-block">
                {{ (product$ | async).barcode }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Barcode Type
              </span>
              <span class="d-block" *ngIf='!(product$ | async).barcode_type'>--</span>
              <span class="d-block">
                {{ (product$ | async).barcode_type }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Vendor SKU
              </span>
              <span class="d-block" *ngIf='!(product$ | async).vendorSKU'>--</span>
              <span class="d-block">
                {{ (product$ | async).vendorSKU }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Active
              </span>
              <span class="d-block" *ngIf='!(product$ | async).active'>--</span>
              <span class="d-block" *ngIf='(product$ | async).active'>
                {{ (product$ | async).active }} days
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary">
                Inventory Count
              </span>
              <span class="d-block"
                *ngIf='!(product$ | async).inventory_count && (product$ | async).inventory_count !== 0'>--</span>
              <span class="d-block">
                {{ (product$ | async).inventory_count }}
              </span>
            </div>
          </div>
          <div class="row" style="margin-top: 0.5rem">
            <div class="col-12 col-md-3" *ngFor="let attribute of (product$ | async).product_attributes">
              <span class="text-bold-500 primary">
                {{ attribute.name }}
              </span>
              <span class="d-block">
                {{ attribute.value }}
              </span>
            </div>
            <div class="col-12 col-md-3">
              <span class="text-bold-500 primary" *ngIf="(product$ | async).user.userTypeId == 2">
                Supplier Name
              </span>
              <span class="text-bold-500 primary" *ngIf="(product$ | async).user.userTypeId == 3">
                Retailer Name
              </span>
              <span class="d-block" *ngIf='!(product$ | async).user'>--</span>
              <span class="d-block">
                {{ (product$ | async).user.name }}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="(product$ | async).tags.length" style="margin-top: 0.5rem">
            <div class="col-md-12">
              <span class="text-bold-500 primary">
                Tags
              </span>
              <div class="d-block">
                <span class="badge badge-pill badge-info" *ngFor="let tag of (product$ | async).tags"
                  style="margin-right: 5px; margin-bottom: 5px;">{{ tag.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="(product$ | async).product_variant.length">
      <div class="card-header no-padding-bottom">
        <h4 class="card-title">Variants</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>MRP</th>
                <th>Selling Price</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of (product$ | async).product_variant">
                <td>{{ getVariantValueMap(key.attributes) | joincomma }}</td>
                <td>{{ key.cost_price || 'Same as product' }}</td>
                <td>{{ key.price_override || 'Same as product' }}</td>
                <td>{{ key.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <app-empty-state *ngIf="(product$ | async).product_variant.length===0" title="No variants!"></app-empty-state>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header no-padding-bottom">
        <h4 class="card-title">Images</h4>
      </div>
      <div class="card-content" *ngIf="(product$ | async).images.length">
        <div class="card-body">
          <ul class="no-list-style no-padding">
            <li *ngFor="let image of (product$ | async).images" class="img-list">
              <img src="{{ image.url }}" class="img-responsive">
            </li>
          </ul>
        </div>
      </div>
      <app-empty-state *ngIf="(product$ | async).images.length === 0" title="No Images!"></app-empty-state>
      <div class="card-footer">
        <a class="card-link info darken-2 pull-right" [routerLink]="['./', 'images']"
          routerLinkActive="router-link-active" *ngIf="(product$ | async).images.length">View all</a>
        <a class="card-link info darken-2 pull-right" [routerLink]="['./', 'images']"
          routerLinkActive="router-link-active" *ngIf="(product$ | async).images.length === 0">Add images</a>
      </div>
    </div>
  </div>
</div>
