<!--Advanced filter Starts-->
<section id="advanced">
  <div class="row text-left" matchHeight="card">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header no-padding-bottom">
          <h4 class="card-title" *ngIf="!offerId">Add Offer</h4>
          <h4 class="card-title" *ngIf="offerId">Edit Offer</h4>
        </div>
        <div class="px-3">
          <div class="card-body">
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-input-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    <small
                      *ngIf="form.controls['name'].hasError('whitespace') && (form.controls['name'].dirty || form.controls['name'].touched)"
                      class="text-danger" translate>
                      Invalid value!
                    </small>
                    <small
                      *ngIf="form.controls['name'].hasError('required') && (form.controls['name'].dirty || form.controls['name'].touched)"
                      class="text-danger" translate>
                      Offer name is required!
                    </small>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-input-label">Type</label>
                    <div class="row">
                      <div class="col-sm-6">
                        <p-radioButton name="group1" value="fixed" label="Fixed" formControlName="type">
                        </p-radioButton>
                      </div>
                      <div class="col-sm-6">
                        <p-radioButton name="group1" value="percentage" label="Percentage" formControlName="type">
                        </p-radioButton>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-input-label">Value</label>
                    <input type="number" class="form-control" placeholder="Value" formControlName="value">
                    <small
                      *ngIf="form.controls['value'].hasError('required') && (form.controls['value'].dirty || form.controls['value'].touched)"
                      class="text-danger" translate>
                      Value is required!
                    </small>
                    <small
                      *ngIf="form.controls['value'].hasError('pattern') && (form.controls['value'].dirty || form.controls['value'].touched)"
                      class="text-danger" translate>
                      Invalid value!
                    </small>
                    <small
                      *ngIf="form.controls['value'].hasError('min') && (form.controls['value'].dirty || form.controls['value'].touched)"
                      class="text-danger" translate>
                      Enter value greater than 0!
                    </small>
                    <small
                      *ngIf="form.hasError('percentageError') && (form.controls['value'].dirty || form.controls['value'].touched)"
                      class="text-danger" translate>
                      Invalid value!
                    </small>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-input-label">Start Date</label>
                    <p-calendar formControlName="start_date" [minDate]="today" [monthNavigator]="true"
                      dateFormat="dd M yy"></p-calendar>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-input-label">End Date</label>
                    <p-calendar formControlName="end_date" [minDate]="today" [monthNavigator]="true"
                      dateFormat="dd M yy"></p-calendar>
                    <small
                      *ngIf="form.hasError('datesError') && (form.controls['end_date'].dirty || form.controls['end_date'].touched)"
                      class="text-danger">End date cannot be less than start date!</small>
                  </div>
                </div>
                <!-- <div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-input-label">Image</label>
                    <input type="file" class="form-control" accept="image/*" placeholder="Image"
                      (change)="selectFile($event)">
                    <small
                        *ngIf="form.controls['name'].hasError('whitespace') && (form.controls['name'].dirty || form.controls['name'].touched)"
                        class="text-danger" translate>
                        Invalid value!
                      </small>
                  </div>
                </div> -->
                <!-- <div class="col-sm-12">
                  <hr>
                </div> -->
              </div>
            </form>
            <!-- <form class="form" [formGroup]="filterForm">
              <div class="row">
                <div class="col-sm-12">
                  <h6><strong>Filters</strong></h6>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-input-label">User</label>
                    <p-dropdown [options]="users$ | async" filter="true" formControlName="user"
                      [autoDisplayFirst]="false" optionLabel="name" placeholder="Select Supplier"
                      filterBy="label,value.name,value.email">
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-input-label">Category</label>
                    <tree-select name="simpleSelect" [items]="categories$ | async" childrenField="children" tree-select
                      formControlName="category" placeholder="Category" textField="name">
                    </tree-select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <hr>
                </div>
              </div>
            </form> -->
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-input-label">Products</label>
                    <p-autoComplete [suggestions]="products$ | async" (completeMethod)="search($event)"
                      formControlName="products" field="name" [multiple]="true" emptyMessage="No products found!"
                      placeholder="Enter product name">
                    </p-autoComplete>
                    <!-- <small
                          *ngIf="form.controls['name'].hasError('whitespace') && (form.controls['name'].dirty || form.controls['name'].touched)"
                          class="text-danger" translate>
                          Invalid value!
                        </small> -->
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="form-input-label">Collections</label>
                    <p-autoComplete [suggestions]="collections$ | async" (completeMethod)="searchCollection($event)"
                      formControlName="collections" field="name" [multiple]="true" emptyMessage="No collections found!"
                      placeholder="Enter collection name">
                    </p-autoComplete>
                    <!-- <small
                          *ngIf="form.controls['name'].hasError('whitespace') && (form.controls['name'].dirty || form.controls['name'].touched)"
                          class="text-danger" translate>
                          Invalid value!
                        </small> -->
                  </div>
                </div>
                <div class="form-actions col-md-12">
                  <button class="btn btn-raised btn-primary pull-right">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Advanced filter Ends-->
